<% include ../partials/header %>
<div class="container">
    <div class="row">
        <!--edit existing comment campground-->
        <h1 style="text-align:center;">Kommentar bearbeiten</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">einreichen</button>
                </div>
            </form>
                <a href="/campgrounds">Geh zurück</a>
        </div>
        <!--back button "Go back"-->
    </div>
</div>
<% include ../partials/footer %>