<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>Willkommen in YelpCamp</h1>
            <!--View our hanspicked camping site-->
            <p>Sehen Sie sich unsere handverlesenen Campingplätze an</p>
            <div>
                <!--add new campgrounds-->
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Campingplatz hinzufügen</a>
            </div>
        </div>
    </header>
     <div class="row text-center" style="display: flex; flex-wrap: wrap;">  
        <% campgrounds.forEach(function(camps){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= camps.image %>">
                    <div class="caption">
                        <h4><%= camps.name %></h4>
                    </div>
                     <p>
                        <a href="/campgrounds/<%= camps._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div> 

<% include ../partials/footer %>