html, body{
    height: 100%;
}

body > .container{
    padding-top: 60px;
}

form {
    display: inline;
}
.comment{
    padding: 0;    
}

.thumbnail > img{
    max-width: 100%;
    max-height: 10em;
}

.thumbnail .caption-full{
    padding: 9px;
}
/* footer{
    position: absolute;
 }*/
